<a href="https://colab.research.google.com/github/DataRobot333/ScrapDataAnalystSite/blob/main/DataAnalystDataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# preprocessing

In [1]:
import pandas as pd

# loading data

lets load our data from github

In [5]:
github_csv_url = 'https://raw.githubusercontent.com/DataRobot333/ScrapDataAnalystSite/main/job_listings.csv'

# Load the data into a pandas DataFrame
try:
    df = pd.read_csv(github_csv_url)
    print(f"Data loaded successfully from {github_csv_url}")
    display(df.head(2))
except Exception as e:
    print(f"An error occurred while loading data: {e}")
    print("Please ensure the URL is correct and the file is accessible. Double-check that it's the 'raw' URL from GitHub.")

Data loaded successfully from https://raw.githubusercontent.com/DataRobot333/ScrapDataAnalystSite/main/job_listings.csv

,Job Title,Company,Location,Country,Workplace,Experience,Industry,Salary,Published Date
0,Data Analyst,Thomson Reuters,"San Diego, CA",United States,In-office,0 - 3 years,Tech,"$72,100 - $133,900","Nov 3, 2025"
1,"Data Analyst, Insights and Reporting",Sony Music Entertainment,"New York, NY",United States,In-office,0 - 3 years,Entertainment,"$64,000 - $70,000","Aug 27, 2025"

for most of job titles there is 2 part. first the job title and the field they are categurized. so let split them for further analysis.

In [6]:
df[['Job Title', 'Field']] = df['Job Title'].str.split(',', n=1, expand=True)
df.head(1)

,Job Title,Company,Location,Country,Workplace,Experience,Industry,Salary,Published Date,Field
0,Data Analyst,Thomson Reuters,"San Diego, CA",United States,In-office,0 - 3 years,Tech,"$72,100 - $133,900","Nov 3, 2025",None

there is only United state so must drop it from our dataset

In [7]:
df = df.drop('Country', axis= 1, inplace= False)

In [8]:
df[['Location','State']]= df['Location'].str.split(',', n=1, expand=True)
df.head(1)

,Job Title,Company,Location,Workplace,Experience,Industry,Salary,Published Date,Field,State
0,Data Analyst,Thomson Reuters,San Diego,In-office,0 - 3 years,Tech,"$72,100 - $133,900","Nov 3, 2025",None,CA

we might want to drop the original 'Salary' column if you no longer need it, to avoid redundancy in your DataFrame.

its look like that Salary is stored as Str

In [9]:
type(df['Salary'].values[0])

str

In [10]:
# Split the 'Salary' column by '-' to get two parts
salary_parts = df['Salary'].str.split(' - ', expand=True)

# Clean and convert 'start_salary'
df['min_salary'] = salary_parts[0].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(int)

# Clean and convert 'end_salary'
df['max_salary'] = salary_parts[1].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(int)

In [11]:
df.head(100)

,Job Title,Company,Location,Workplace,Experience,Industry,Salary,Published Date,Field,State,min_salary,max_salary
0,Data Analyst,Thomson Reuters,San Diego,In-office,0 - 3 years,Tech,"$72,100 - $133,900","Nov 3, 2025",None,CA,72100,133900
1,Data Analyst,Sony Music Entertainment,New York,In-office,0 - 3 years,Entertainment,"$64,000 - $70,000","Aug 27, 2025",Insights and Reporting,NY,64000,70000
2,Senior Data Analyst,Nintendo,Redmond,Hybrid,5 - 10 years,Tech,"$105,300 - $168,500","Aug 27, 2025",Insights and Analytics,WA,105300,168500
3,Lead Data Analyst,SeatGeek,New York,In-office,5 - 10 years,Tech,"$125,000 - $180,000","Aug 27, 2025",None,NY,125000,180000
4,Data Analyst,Rent The Runway,Brooklyn,In-office,3 - 5 years,Retail,"$100,000 - $125,000","Aug 27, 2025",None,NY,100000,125000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Senior Data Analyst,Starr Insurance,New York,Hybrid,3 - 5 years,Insurance,"$130,000 - $150,000","Apr 5, 2025",None,NY,130000,150000
96,Senior Data Analyst,Thrive Causemetics,Los Angeles,Hybrid,0 - 3 years,Retail,"$100,000 - $115,000","Apr 5, 2025",None,CA,100000,115000
97,Data Analyst,Children's Institute,Los Angeles,In-office,3 - 5 years,Healthcare,"$73,601 - $85,469","Apr 3, 2025",None,CA,73601,85469
98,Senior Forecast Analyst,Amazon,Nashville,In-office,5 - 10 years,Tech,"$103,900 - $181,400","Apr 3, 2025",None,TN,103900,181400
99,Analyst,Lumenalta,Remote,Remote,0 - 3 years,Tech,"$72,000 - $108,000","Apr 3, 2025",Audience Impact & Intelligence,None,72000,108000

In [12]:
df.drop('Salary', axis = 1, inplace = True)
df.head(1)

,Job Title,Company,Location,Workplace,Experience,Industry,Published Date,Field,State,min_salary,max_salary
0,Data Analyst,Thomson Reuters,San Diego,In-office,0 - 3 years,Tech,"Nov 3, 2025",None,CA,72100,133900

In [13]:
df['Experience'].value_counts()

Experience
3 - 5 years     197
5 - 10 years    127
0 - 3 years      94
Name: count, dtype: int64

In [14]:
df['Experience'] = df['Experience'].str.replace(' years', '', regex=False)

In [15]:
len(df[
    'Published Date'
].unique())

219

In [16]:
df.columns

Index(['Job Title', 'Company', 'Location', 'Workplace', 'Experience',
       'Industry', 'Published Date', 'Field', 'State', 'min_salary',
       'max_salary'],
      dtype='object')

lets consider the average of salaries for smoother analysis

In [17]:
df['average_salary'] = (df['min_salary'] + df['max_salary'])/2
df.head(1)

,Job Title,Company,Location,Workplace,Experience,Industry,Published Date,Field,State,min_salary,max_salary,average_salary
0,Data Analyst,Thomson Reuters,San Diego,In-office,0 - 3,Tech,"Nov 3, 2025",None,CA,72100,133900,103000.0

In [18]:
# Convert 'Published Date' column to datetime objects
df['Published Date'] = pd.to_datetime(df['Published Date'])
df.head(1)

,Job Title,Company,Location,Workplace,Experience,Industry,Published Date,Field,State,min_salary,max_salary,average_salary
0,Data Analyst,Thomson Reuters,San Diego,In-office,0 - 3,Tech,2025-11-03,None,CA,72100,133900,103000.0

In [19]:
# Get the current column names
current_columns = df.columns.tolist()

# Define your desired new order.
# You can rearrange, remove, or add columns as needed here.
# For example, let's move 'job title' and 'field' to the front.
new_column_order = [
    'Job Title',
    'Field',
    'Company',
    'Industry',
    'Location',
    'State',
    'Workplace',
    'Experience',
    'min_salary',
    'max_salary',
    'average_salary',
    'Published Date'
]

# Reindex the DataFrame with the new column order
df = df[new_column_order]

# Display the first few rows to verify the new order
display(df.head(1))

,Job Title,Field,Company,Industry,Location,State,Workplace,Experience,min_salary,max_salary,average_salary,Published Date
0,Data Analyst,None,Thomson Reuters,Tech,San Diego,CA,In-office,0 - 3,72100,133900,103000.0,2025-11-03

In [20]:
df.to_csv('job_listing_preprocessed.csv', index=False)
print("DataFrame saved to 'job_listing_preprocessed.csv'")

DataFrame saved to 'job_listing_preprocessed.csv'